html {
  height: 100%;
  width: 100%;
}
body {
  display: block;
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin-right: 0;
}
.bodygroup {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid;
}
#titleapp {
  font-size: 50px;
  height: 25%;
}
#bar_insert {
  height: 15%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 10px;
}
#input_bar {
  height: 75%;
}

.inputButton {
  border: 1px solid;
  width: 15%;
  text-align: center;
  background: none;
  padding: 0%;
  border-radius: 6px;
  font-size: 25px;
}
h3 {
  margin: 0;
  margin-top: 15%;
  font-family: BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}
#button_clear {
  width: 150px;
  height: 100%;
}
#inputText {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  background: none;
}
#bottom_section {
  height: 15%;
}
#insertlist {
  display: flex;
  flex-direction: row;
  border: 2px solid;
}
#element_of_the_list {
  border: 2px solid;
}
